body {
    margin: 0;
}
h3 {
    font-family: Outfit, sans-serif;
}
p {
    font-size: 0.9375rem;
    font-family: Outfit, sans-serif;
}
img {
    max-width: 100%;
}
.top-container {
    height: auto;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    padding: 100px;
}
.qr {
    width: 20%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}